#messageShow{
    width:500px;
    height: 500px;
    border: black 3px solid;
    overflow: auto;
}

#messageInput{
    width: 500px;
    height: 200px;
    overflow: auto;
}

#messageSend{
    width: 50px;
    height: 35px;
}

.sent_message {
    background-color: #d1e7dd;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    color: black;
    width: fit-content;
    text-align: left;
    margin-left:100px;
}

.received_message {
    display:flex;
    align-items:flex-end;
    background-color: #2259be; 
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    color: white;
    width: fit-content;
    text-align: left;
}

