#messageShow{
    width:500px;
    height: 500px;
    border: black 3px solid;
    overflow-y: auto;
    overflow-x: hidden;

    scrollbar-color: grey transparent;
    scrollbar-width: thin;

}

#messageInput{
    width: 500px;
    height: 200px;
    overflow: auto;
}

#messageSend{
    cursor: pointer;
}

#messageSend:hover{
    background-color: grey;
}

#KeyExchange{
    cursor: pointer;
}

#KeyExchange:hover{
    background-color: grey;
}

.message_align_left{
    display: flex;
    width:500px;
}

.message_align_right{
    display: flex;
    justify-content: end;
    width:480px;
}

#sent_message {
    background-color: #d1e7dd;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    color: black;
    max-width: 400px;
    width: fit-content;
    display: inline-block;

    white-space: normal; 
    overflow-wrap: break-word;
}

#received_message {
    background-color: #2259be; 
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    color: white;
    max-width: 400px;
    width: fit-content;
    display: inline-block;

    white-space: normal; 
    overflow-wrap: break-word;
}

#userListItem{
    cursor: pointer;
    background-color: #d1e7dd;
    padding: 5px;
    border-radius: 10px;
    width:450px;

}

#userListItem:hover{
    background-color: #2259be; 
}
